<nav class="navbar">

  <div class="logo">
    MiniPlan
  </div>


  <div class="nav-links">

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dashboard
    </a>


    <a
      routerLink="/projects"
      routerLinkActive="active"
    >
      Projects
    </a>


    <a
      routerLink="/profile"
      routerLinkActive="active"
    >
      Profile
    </a>

  </div>


  <div class="nav-bottom">

    <button>
      Logout
    </button>

  </div>

</nav>